<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL Shortener :: Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>Result</h1>
<!--/*@thymesVar id="shortenerDto" type="com.apple.shortener.web.ShortenerDto"*/-->
<div>
    <p th:text="'full: ' + ${shortenerDto.fullUrl}"/> ->
    <p th:text="'short: ' + ${shortenerDto.shortUrl}"/>
    <a href="/">Short another url</a>
</div>
</body>
</html>